{{- $source := .Params.description | default .Description | default .Summary -}}
{{- $text := $source | plainify -}}
{{- $text = replaceRE "\\[[^\\]]+\\]\\([^)]+\\)" "" $text -}}
{{- $text = replace $text "###" "" -}}
{{- $text = replace $text "##" "" -}}
{{- $text = replace $text "**" "" -}}
{{- $text = replace $text "*" "" -}}
{{- $text = replace $text "`" "" -}}
{{- $text = replaceRE "(^|\\s)-\\s+" " " $text -}}
{{- $text = replaceRE "\\s+" " " $text -}}
{{- $text = trim $text " \n\r\t" -}}

{{- $sentences := findRE "[^.!?]+[.!?]" $text 1 -}}
{{- if gt (len $sentences) 0 -}}
  {{- index $sentences 0 | trim " \n\r\t" -}}
{{- else if $text -}}
  {{- $text | truncate 180 -}}
{{- else -}}
  {{- "Se siden for kort orientering, full beskrivelse og relaterte ressurser." -}}
{{- end -}}
