{{- $source := "" -}}
{{- with .Description -}}
  {{- $source = . -}}
{{- else -}}
  {{- with .Params.description -}}
    {{- $source = . -}}
  {{- else -}}
    {{- with .Summary -}}
      {{- $source = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $text := $source | plainify -}}
{{- $text = replaceRE "\\[[^\\]]+\\]\\([^)]+\\)" "" $text -}}
{{- $text = replace $text "###" "" -}}
{{- $text = replace $text "##" "" -}}
{{- $text = replace $text "**" "" -}}
{{- $text = replace $text "*" "" -}}
{{- $text = replace $text "`" "" -}}
{{- $text = replaceRE "(^|\\s)-\\s+" " " $text -}}
{{- $text = replaceRE "\\s+" " " $text -}}
{{- $text = trim $text " \n\r\t" -}}

{{- $summary := replaceRE "^\\s*([^.!?]+[.!?]).*$" "$1" $text | trim " \n\r\t" -}}
{{- if $summary -}}
  {{- $summary -}}
{{- else if $text -}}
  {{- $text | truncate 180 -}}
{{- else -}}
  {{- "Se siden for kort orientering, full beskrivelse og relaterte ressurser." -}}
{{- end -}}
